<h1>Hi <%= @user.first_name %>,</h1>

<p>Thanks for booking a tent in <%= @appartment_address %> from <%= @start_date %> to <%= @end_date %></p>
<br>
<p>The total cost of your stay is <%= @booking_cost %>€</p>
<br>
<p>Enjoy your stay!</p>
<br>
<p>Looking forward to your feedback,</p>
<br>
<p>Sleep in the Woods</p>
