<div class="manual-validation-errors">
  <% if ! @errors.empty? %>
    <% @errors.each do |key, value| %>
     Error for <%= key.to_s %> : <%= value.join %>
     <br>
    <% end %>
  <% end %>
  <br>
</div>

<%= form_for(@availability_period, method: :post, url: appartment_availability_periods_path) do |f| %>
      <div class="form-group">
        <p>Available Start Date : <%= f.text_field :start_date, :class => 'datepicker disabledDates' %></p>
        <p>Available End Date : <%= f.text_field :end_date, :class => 'datepicker disabledDates' %></p>
        <p><%= f.submit "Submit", class: "btn btn-default btn-primary" %></p>
      </div>
<% end %>


