<div class="manual-validation-errors">
  <% @errors.each do |key, value| %>
    Error for <%= key.to_s %> : <%= value.join %>
    <br>
  <% end %>
  <br>
</div>

<%= form_for(@booking, method: :post, url: appartment_bookings_path(@appartment), :html => {:class => "form-horizontal center"}) do |f| %>
      <div class="form-group">
        <p>Check-In Date : <%= f.date_field :start_date %></p>
        <p>Check-Out Date : <%= f.date_field :end_date %></p>
        <p><%= f.submit "Submit", class: "btn btn-default btn-primary" %></p>
      </div>
<% end %>



