<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="center-this">
          <h2>Thanks for booking with us!</h2>
          <ul>
            <li>Check-In Date : <%= @booking.start_date %></li>
            <li>Check-Out Date : <%= @booking.end_date %></li>
            <li>Address: <%= @appartment.address %></li>
            <li>Property Type: <%= @appartment.property_type %></li>
            <li>Capacity: <%= @appartment.capacity %></li>
            <li>Number of Rooms: <%= @appartment.nbr_rooms %></li>
            <li>Cost of your stay: <%= (@booking.start_date..@booking.end_date).count * @appartment.price%>€</li>
          </ul>

          <br>
          <p><%= link_to 'Return to list of apartments', appartments_path %></p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <%= render 'shared/map' %>
      </div>

    </div>
  </div>
</div>


