  <ul class="no-bullets">
    <li>Location: <%= @appartment.city %></li>
    <li>Accomodation type: <%= @appartment.property_type %></li>
    <li>Sleep: <%= @appartment.capacity %> people</li>
    <li>Number of Rooms: <%= @appartment.nbr_rooms %></li>
    <li>Price per night: <%= @appartment.price %>€</li>
  </ul>
