<h1>Appartments#index</h1>

<%= form_for(@filter, method: :get, url: appartments_path) do |f| %>

  <p>Address : <%= f.text_field :address %></p>
  <p>Number of rooms : <%= f.text_field :nbr_rooms %></p>
  <p>Capacity : <%= f.text_field :capacity %></p>
  <p>Property type : <%= f.text_field :property_type %></p>

  <p><%= f.submit "Search apartments" %></p>

<% end %>

<div class="container">
  <% @appartments.each do |appartment| %>
      <div class= "text-center">
        <%= link_to appartment_path(appartment) do %>
          <div class="row">
            <%#= image_tag appartment.picture.url(:thumb) %>
            <p>
              <strong>Address:</strong>
              <%= appartment.address %>
            </p>

            <p>
              <strong>Property type:</strong>
              <%= appartment.property_type %>
            </p>

            <p>
              <strong>Number of bedrooms:</strong>
              <%= appartment.nbr_rooms %>
            </p>

            <p>
              <strong>Sleep </strong>
              <%= appartment.capacity %> people
            </p>
          </div>
        <% end %>
      </div>
  <% end %>
</div>

<%= render 'shared/map' %>
