<h1>Appartments#show</h1>
<p>Find me in app/views/appartments/show.html.erb</p>

<p>
  <strong>Address:</strong>
  <%= @appartment.address %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @appartment.property_type %>
</p>

<p>
  <strong>Number of bedrooms:</strong>
  <%= @appartment.nbr_rooms %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @appartment.capacity %>
</p>

<p><%= link_to 'Return to list of apartments', appartments_path %></p>
=======
<p>Hello<p>

<table>
  <thead>
    <tr>
      <th>Appartment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <p>This will be a apt loop over all appts<p>

    </tr>
  </tbody>
</table>

<div id="map" style="width: 50%; height: 500px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


