<div class="padded">
  <div class="container">
    <div class="row">
      <%= @dates %>
      <%= render 'bookings/form' %>
      <div class="col-xs-12 col-sm-6">
        <div class="center-this">
          <h1>Title</h1>
          <ul>
            <li>Address: <%= @appartment.address %></li>
            <li>Property Type: <%= @appartment.property_type %></li>
            <li>Capacity: <%= @appartment.capacity %></li>
            <li>Number of Rooms: <%= @appartment.nbr_rooms %></li>
          </ul>
          <p><%= link_to 'Return to list of apartments', appartments_path %></p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <%= render 'shared/map' %>
      </div>

    </div>
  </div>
</div>

<%= image_tag @appartment.picture.url(:medium) %>


